/* ----------------------
GOOGLE FONTS 
---------------------- */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* ----------------------
GLOBAL SETTINGS 
---------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Source Sans 3", sans-serif;
  overflow-x: hidden;
}

/* ----------------------
HEADER 
---------------------- */
header {
}

/* TOP HEADER */
.top-header {
  background-color: #f5f7fa;
  padding: 15px 0;
}
.top-header .contact-info {
}
.top-header .contact-info ul {
  display: flex;
  gap: 25px;
}
.top-header .contact-info ul li {
}
.top-header .contact-info ul li a {
  color: #506a85;
  font-weight: 600;
  transition-duration: 0.3s;
}
.top-header .contact-info ul li a:hover {
  color: #00bc9c;
  text-decoration: underline;
}
.top-header .contact-info ul li a i {
  margin-right: 5px;
}

.top-header .social-info {
}
.top-header .social-info ul {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.top-header .social-info ul li {
}
.top-header .social-info ul li a {
  color: #506a85;
  transition-duration: 0.3s;
}
.top-header .social-info ul li a:hover {
  color: #00bc9c;
}
.top-header .social-info ul li a i {
}

/* NAVBAR */
.navbar {
  background: transparent;
  padding: 20px 0px;
}

/* STICKY NAVBAR */
.stickyNavbar {
  background-color: #ffffff;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.navbar-brand {
}
.navbar-nav {
}
.nav-item {
}
.nav-link {
  color: #506a85;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.3s;
}

.nav-link:hover,
.nav-link:focus,
.search-icon:hover {
  color: #00bc9c;
  outline: none;
}

.search-icon {
  padding: 0;
  border: none;
  color: #506a85;
  font-size: 14px;
  font-weight: 700;
  transition-duration: 0.3s;
}

/* ----------------------
BANNER 
---------------------- */
.banner-slider {
}
.banner-slider .owl-carousel {
  position: relative;
}
.banner-slider .owl-carousel .item {
}
.banner-slider .owl-carousel .item .slider-item {
  position: relative;
  z-index: 0;
}
.banner-slider .owl-carousel .item .slider-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: 1;
}
.banner-slider .owl-carousel .item .slider-item .image {
}
.banner-slider .owl-carousel .item .slider-item .image img {
}
.banner-slider .owl-carousel .item .slider-item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #ffffff;
  text-align: center;
}
.banner-slider .owl-carousel .item .slider-item .content h2 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.banner-slider .owl-carousel .item .slider-item .content p {
  width: 70%;
  color: #a3b1bf;
  margin: 0 auto 50px;
  line-height: 25px;
}
.banner-slider .owl-carousel .item .slider-item .content .banner-btn {
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 30px;
  letter-spacing: 2px;
  background-color: #00bc9c;
  border: 1px solid #00bc9c;
  border-radius: 3px;
  transition-duration: 0.3s;
}

.banner-slider .owl-carousel .item .slider-item .content .banner-btn:hover {
  background-color: transparent;
  color: #00bc9c;
}

/* CAROUSEL STYLE */
.owl-carousel {
}
.owl-carousel .owl-nav {
  margin: 0;
}
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white !important;
  transition-duration: 0.3s;
}

.owl-carousel .owl-nav .owl-next i,
.owl-carousel .owl-nav .owl-prev i {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

.owl-carousel .owl-nav .owl-next {
  right: -15px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 15px;
}

.owl-theme .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 3px;
  border-radius: 0;
}

/* ----------------------
SECTION HEADER 
---------------------- */
.section-header {
  text-align: center;
  margin-bottom: 30px;
}
.section-header h2 {
  color: #506a85;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}
.section-header p {
  width: 50%;
  margin: 0 auto;
  color: #73879c;
}

/* ----------------------
FEATURES SECTION 
---------------------- */
#features {
  padding: 80px 0;
}
.feature-item {
  padding: 30px 0 0;
  display: flex;
  gap: 25px;
}
.feature-item .image {
}
.feature-item .image img {
  width: 200px;
  height: auto;
}
.feature-content {
}
.feature-content h2 {
  color: #506a85;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.feature-content p {
  color: #73879c;
  font-size: 14px;
  line-height: 24px;
}

/* ----------------------
WORK SECTION 
---------------------- */
#project {
  background-color: #f2f5f7;
  padding: 80px 0;
}

.project-item .card {
  border-radius: 0px;
  border: 1px solid lightgray;
}
.project-item .card:hover {
  transform: rotateX("angle");
}
.project-item .card .card-title {
  font-size: 20px;
  font-weight: 600;
  color: #506a85;
  margin-bottom: 15px;
}
.project-item .card h6 {
  font-size: 14px;
  color: #73879c;
}
/* FLIP STYLE START */
.flip-card {
  background-color: transparent;
  height: 460px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  height: 100%;
  transition-duration: 0.7s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip-card:focus {
  outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card-front {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background: linear-gradient(to right, #4364f7, #6fb1fc);
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FLIP STYLE END */

/* Work Slider */
.latest-work {
  position: relative;
}
.work-slider {
}
.work-slider .item {
}
.work-slider .item .slider-item {
}
.work-slider .item .slider-item .image {
}
.work-slider .item .slider-item .image img {
}

/* .latest-work .owl-carousel .owl-dots.disabled {
  display: inline-block !important;
  position: absolute;
  bottom: -60px !important;
} */

.latest-work .owl-theme .owl-dots {
  bottom: -60px;
}

.latest-work .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #d6d6d6;
}
.latest-work .owl-theme .owl-dots .owl-dot.active span,
.latest-work .owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

/* ----------------------
CALL TO ACTION SECTION 
---------------------- */
#call-to-action {
  padding: 80px 0;
}
#call-to-action .section-header p {
  padding: 10px 0 30px;
}
#call-to-action .section-header .banner-btn {
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 30px;
  letter-spacing: 2px;
  background-color: #00bc9c;
  border: 1px solid #00bc9c;
  border-radius: 3px;
  transition-duration: 0.3s;
}
#call-to-action .section-header .banner-btn:hover {
  background-color: transparent;
  color: #00bc9c;
}

/* ----------------------
FOOTER SECTION 
---------------------- */
footer .container-fluid {
  margin: 0;
  padding: 0;
}
footer .top-footer {
  background-color: #2f4052;
  padding: 80px 0;
}
footer .top-footer .item {
}
footer .top-footer .item h4 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
}
footer .top-footer .item img {
  margin-top: 20px;
}
footer .footer-work-image {
}
footer .footer-work-image img {
  margin: 0 !important;
}
footer .top-footer .item p {
  font-size: 14px;
  line-height: 24px;
  color: #a3b1bf;
  margin: 15px 0;
}
footer .top-footer .item a {
  color: #a3b1bf;
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .top-footer .item a i {
  margin-right: 5px;
}
footer .contact-info a {
  transition-duration: 0.3s;
}
footer .contact-info a:hover {
  color: #00bc9c;
}
footer .top-footer .item .subscribe-field {
  position: relative;
}
footer .top-footer .item .subscribe-field input {
  padding: 12px 12px;
  background: #4e5c6c;
  border: 1px solid #4e5c6c;
  color: #828e99;
  font-size: 12px;
  border-radius: 5px;
}
footer .top-footer .item .subscribe-field input:focus-visible {
  outline: none;
  box-shadow: 0px 0px 2px 2px #00bc9c;
}
footer .top-footer .item .subscribe-field button {
  background: #00bc9c;
  border: 1px solid #00bc9c;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
  font-size: 10px;
  height: 90%;
  position: absolute;
  z-index: 1;
  right: 102px;
  bottom: 2px;
  transition-duration: 0.3s;
}
footer .top-footer .item .subscribe-field button:hover {
  background: transparent;
  color: #00bc9c;
}
.top-footer .item .col-6 {
  padding: 0 5px;
}
footer .top-footer .item a {
  transition-duration: 0.3s;
}
footer .top-footer .item a:hover {
  color: #00bc9c;
}
.footer-btn-link i {
  transition-duration: 0.3s;
}
.footer-btn-link:hover i {
  padding-left: 5px;
  color: #00bc9c;
}

footer .bottom-footer {
  padding: 20px 0;
  background-color: #283645;
}
.copyright-text {
}
.copyright-text p {
  color: #616f7d;
  font-size: 14px;
}
.footer-nav {
}
.footer-nav ul {
  text-align: end;
}
.footer-nav ul li {
  display: inline-block;
}
.footer-nav ul li a {
  color: #616f7d;
  font-size: 14px;
  font-weight: 600;
  transition-duration: 0.3s;
}
.footer-nav ul li a:hover {
  color: #00bc9c;
}
